.navbar {
    /* background-color: #2c3e50;
    margin: auto 200px auto 200px; */
    padding: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}
.navbar-brand{
  font-size: 3rem;
}
.row{
  margin: auto;
}

.bk-color {
  background-color: #2c3e50
}
.bk-color2 {
  background-color: #1abc9c;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
header{
  min-height: 70vh;
  max-height: 75vh;
  padding: 100px 0;
}

header img{
  width: 250px;
  margin:0 auto;
}

header h1{
  font-size: 7rem;
  font-weight: 900;
  color: white;
}
header.container-fluid {
  margin-top: -20px;
}

.divider{
  width: 50%;
  margin: 0 auto;
}
.divider *{
  display: inline-block;
  float: none;
  margin: 0 auto;
}

.divider::after{
  display: table;
  content: '';
  clear: both;
}

.stella{
  font-size: 4rem;
  margin:20px;
}

.linea{
  height: 4px;
  width: 70px;
  background: #2c3e50;
  margin-bottom: 16px;
}
.portfolio{
  margin: 10% auto 10% auto;
}

.row >.images{
  padding: 0 15px;

}

.images img{
  margin-top: 40px;
  width: 80%;
  border-radius: 10px;
  transition: .3s;
  margin-left: 10%;

}

.images img:hover{
  opacity: .6
}
